<img src='hero.png' alt='hero image' class='hero'/>
<img src='logo-white.png' alt='logo image' class='logo'/> 
<h1 id='site-title'>Fomotograph</h1>
<h2 id='site-subtitle'>Custom travel photos on demand</h2>
<a class='button' href='/products'>Get Started</a>