<h1> All Locations </h1>
<div id='wrapper'>

  <% @products.each do |product| %>
  <a href='/products/location/<%= product.location %>'>
  <div class='product'>
    <div class='thumb'>
      <img src='<%= product.url %>' />
    </div>
    <div class='caption'>
      <%= product.location != 'us' ? product.location.capitalize : product.location.upcase %>
    </div>
  </div>
  </a>
  <% end %>

</div>