        <h1>The Team</h1>
        <div id='wrapper'>

            <div class='staff'>
            <img src='/founder.png' alt='founder' class='small-thumb' />
            <p class='employee'>Hezekiah | Founder</p>
            <p class='bio'>Hezekiah was drinking kombucha out of his favorite Hans
            Solo coffee mug when he realized that he’s actually pretty decent at
            Photoshop! In his spare time, he likes to immerse himself in virtual
            reality while riding his hoverboard backwards.</p>
            </div>
            <div class='staff'>
            <img src='/engineer.png' alt='founder' class='small-thumb' />
            <p class='employee'>Julia | Engineer</p>
            <p class='bio'>Julia has been coding since she was old enough to crawl, and when she isn’t playing her banjo or eating artisan cronuts, she’s helping startup founders clean up their code using the MVC design pattern.</p>
            </div>
            <div class='staff'>
            <img src='/designer.png' alt='founder' class='small-thumb' />
            <p class='employee'>Orit | Designer</p>
            <p class='bio'>Orit graduated from the Royal University of the Arts and Design Sciences with a concentration in color studies. She runs her own color consultancy, and really loves umami and memorizing color names.</p>
            </div>

        </div>